<% if !@results.present? %>
  <p class="status-message">No results found matching provided search criteria</p>
<% end %>

<% if @results.present? %>
  <h2><%= params[:type].titleize %> results for "<%= params[:q] %>"</h2>

  <div class="search-results-grid">
    <% @results.each do |result| %>
      <div class="search-results-grid--item">
        <% if params[:type] == "oracle" %>
          <%= render "shared/oracle_card", illustration: result, link_uri: result.oracle_uri %>
        <% else %>
          <%= render "shared/illustration", illustration: result, link_uri: result.uri %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= will_paginate @results %>
<% end %>