<%= form_tag create_illustration_tags_path(@tag_submission), method: "post", class:"tag-confirmation-form" do %>
  <h2>Confirm Tags</h2>
  <p class="tag-confirmation-form--prompt">
    <b>We've normalized your submissions into suggested tags.</b><br>
    Our normalizations are algorithmic, so use your judgement.
  </p>
  <div class="tag-form-row">
    <table class="tag-confirmation">
      <thead>
        <tr>
          <th>Your submission</th>
          <th>Normalized term</th>
          <th>Notes</th>
          <th>Cancel this tag</th>
        </tr>
      </thead>
      <tbody>
      <% @tag_submission.proposed_tags.each_with_index do |tag, index| %>
        <tr>
          <td><label><%= radio_button_tag "tag_confirmation[tags][#{index}]", tag.original_name_key, false, disabled: !tag.allowed? %> <%= tag.original_name %></label></td>
          <td><label><%= radio_button_tag "tag_confirmation[tags][#{index}]", tag.formatted_name_key, tag.suggest_formatted_name?, disabled: !tag.allowed? %> <%= tag.formatted_name_display %></label></td>
          <td><%= tag.note %></td>
          <td><label><%= radio_button_tag "tag_confirmation[tags][#{index}]", tag.cancel_key, tag.suggest_cancel? %> cancel</label></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="tag-form-row">
    <%= button_tag "Confirm tags", class:"button-primary" %>
  </div>
<% end %>