<%= content_for :head do %>
  <script src="https://www.google.com/recaptcha/api.js"></script>
<% end %>

<div class="illustration-detail">
  <%= render "shared/illustration", illustration: @illustration, link_uri: @illustration.scryfall_uri %>

  <% if @illustration.illustration_tags.reject(&:hidden?).present? %>
    <div class="illustration-tags">
      <% @illustration.illustration_tags.reject(&:hidden?).sort_by(&:name).each do |tag| %>
        <%= render "shared/illustration_tag", tag: tag, allow_dispute: true %>
      <% end %>
    </div>
    <%= render "dispute" %>
  <% else %>
    <div class="illustration-tags">
      <b>No tags have been submitted yet for this illustration.</b>
    </div>
  <% end %>
</div>

<%= render "submit" %>