<div class="artwork">
  <img src="<%= @illustration.image_uri %>" alt="<%= @illustration.name %>">
</div>

<%= form_tag "/tags/dispute", method: "post", id: "dispute-form" do %>
  <ul class="tags">
    <% @illustration.illustration_tags.sort_by(&:name).each do |itag| %>
      <li class="<%= itag.status %>">
        <%= itag.name %>
        <% unless itag.disputed? || itag.verified? %>
          <%= button_tag "x", value: itag.id %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_tag submit_illustration_tags_path(@illustration), method: "post", id: "tagging-form", class:"tagging-form" do %>
  <h2>Propose Tags</h2>
  <div class="tag-form-row" data-row="0">
    <%= text_field :tags, "0", placeholder: "tag", autocorrect:"off", autocomplete:"off" %>
  </div>
  <div class="g-recaptcha" data-sitekey="6LdLnjAUAAAAAPGoEkt2aphd7B-b2w0lq5IKByXH"></div>
  <%= button_tag "Propose these tags" %>
<% end %>