<script>
window.tags_collection = <%= raw Tag.distinct.pluck(:name).to_json %>;
window.cards_collection = <%= raw Illustration.distinct.pluck(:name).to_json %>;
window.artists_collection = <%= raw Illustration.distinct.pluck(:artist).to_json %>;
</script>
<%= form_tag search_path, method: "get" do %>
  <label>
    Tag
    <span class="autocomplete-wrapper">
      <%= text_field_tag :tag, nil, "data-component":"autocomplete-menu", "data-src":"tags_collection" %>
    </span>
  </label>
  <label>
    Card Name
    <span class="autocomplete-wrapper">
      <%= text_field_tag :card, nil, "data-component":"autocomplete-menu", "data-src":"cards_collection" %>
    </span>
  </label>

  <label>
    Artist
    <span class="autocomplete-wrapper">
      <%= text_field_tag :artist, nil, "data-component":"autocomplete-menu", "data-src":"artists_collection" %>
    </span>
  </label>

  <%= button_tag "Search", class:"button-primary" %>
<% end %>