<div class="site-header">
  <%= link_to home_path do %>
    <%= inline_svg "icons/wolf" %> The Menagerie
  <% end %>
  <%= link_to guide_path do %>
    <%= inline_svg "icons/guide" %> Tagging Guide
  <% end %>
  <%= link_to search_path do %>
    <%= inline_svg "icons/search" %> Search
  <% end %>
  <%= link_to random_illustration_path do %>
    <%= inline_svg "icons/tag" %> Tag at Random
  <% end %>
</div>