<div class="site-header">
  <div class="site-wrapper">
    <%= link_to home_path, title:"Scryfall Tagger", class:"branding" do %>
      <%= inline_svg "icons/tagger" %>
    <% end %>
    <%= form_tag search_path, method: "get", enforce_utf8: false, "data-component":"autocomplete-form", class:"site-search-form", id:"search-form" do %>
      <div class="site-search-form__inner">
        <label for="search-type" class="vh">Search by</label>
        <%= select_tag :type, options_from_collection_for_select(search_type_collection, :first, :second, params[:type]), id:"search-type" %>
        <label for="search-term" class="vh">For</label>
        <span class="autocomplete-wrapper">
          <%= text_field_tag :q, params[:q].presence, placeholder: "Search term", autocorrect:"off", autocomplete:"off", "data-query":"card", id:"search-term" %>
        </span>
        <%= button_tag title:"Search", name: nil do %>
          <%= inline_svg "icons/search" %>
        <% end %>
      </div>
    <% end %>
    <%= link_to guide_path, title:"Tagging Guide", class:"site-header__link" do %>
      <%= inline_svg "icons/map" %> <span class="collapse-small"><span class="collapse-medium">Tagging </span>Guide</span>
    <% end %>
    <%= link_to random_illustration_path, title:"Tag at Random", class:"site-header__link", rel:"nofollow" do %>
      <%= inline_svg "icons/tag" %> <span class="collapse-small"><span class="collapse-medium">Tag at </span>Random</span>
    <% end %>
  </div>
</div>
<% if is_admin_screen? && logged_in? %>
  <div class="site-header site-header--sub">
    <div class="site-wrapper">
      <%= link_to admin_approve_illustration_tags_path, title:"Illustration Tags" do %>
        <%= inline_svg "icons/illustration" %> <span>Illustration <span class="collapse">Tags</span></span>
      <% end %>
      <%= link_to admin_approve_oracle_card_tags_path, title:"Oracle Card Tags" do %>
        <%= inline_svg "icons/wolf" %> <span>Oracle Card <span class="collapse">Tags</span></span>
      <% end %>
      <div class="spacer"></div>
      <%= form_tag admin_destroy_session_path, method: :delete do %>
        <%= button_tag "Sign Out" %>
      <% end %>
    </div>
  </div>
<% end %>