<div class="site-header">
  <div class="site-wrapper">
    <%= link_to home_path do %>
      <%= inline_svg "icons/tag" %> <b>Tagger</b>
    <% end %>
    <div class="spacer"></div>
    <%= link_to guide_path do %>
      <%= inline_svg "icons/guide" %> <span><span class="collapse">Tagging</span> Guide</span>
    <% end %>
    <%= link_to random_illustration_path do %>
      <%= inline_svg "icons/tag" %> <span><span class="collapse">Tag at</span> Random</span>
    <% end %>
  </div>
</div>
<% if is_admin_screen? && logged_in? %>
  <div class="site-header site-header--sub">
    <div class="site-wrapper">
        <%= link_to admin_approve_illustration_tags_path do %>
          <%= inline_svg "icons/search" %>Illustration Tags
        <% end %>
        <%= link_to admin_approve_oracle_card_tags_path do %>
          <%= inline_svg "icons/search" %>Oracle Card Tags
        <% end %>
    </div>
  </div>
<% end %>