<%= form_tag admin_update_illustrations_path(@illustration.id, { name: params[:name] }.compact), method: "post", class:"illustration-group" do %>
  <h1>Manage Illustration Group</h1>
  <p>Assign a grouping code (ex: "a, b, c, ...") or illustration UUID to each unique illustration:</p>
  <div class="illustration-group--items">
    <% @printings.sort { |a, b| a.id == @illustration.printing_id ? -1 : 1 }.each_with_index do |p, index| %>
      <div class="illustration-group--item">
        <img src="<%= p.image_uri(:small) %>" class="card" data-id="<%= p.id %>">
        <%= text_field "printing_illustrations[variants]", p.id if index > 0 %>
      </div>
    <% end %>
  </div>
  <%= button_tag "Update Illustrations", class:"button-primary" %>
<% end %>