<h1><%= @content_type.titleize %> Tags</h1>

<% unless @content_tags.present? %>
  <p>No tags pending 🎉</p>
<% end %>

<% @tag_groups.each do |tag_group| %>
  <div class="tag-admin-row">
    <% if @content_type == Illustration.name %>
      <%= render "shared/illustration", illustration: tag_group.first.taggable, link_uri: tag_group.first.taggable.uri %>
    <% else %>
      <%= link_to tag_group.first.taggable.illustration.oracle_uri, class:"illustration oracle-card" do %>
        <img src="<%= tag_group.first.taggable.illustration.image_normal_uri %>" class="card">
      <% end %>
    <% end %>
    <div class="tag-confirmation">
      <div class="illustration-tags js-tag-resolutions"></div>
      <% tag_group.each do |itag| %>
        <%= form_tag admin_confirm_content_tag_path(itag), method:"post", class:"tag-confirm-form js-tag-confirm-form#{ " disputed" if itag.disputed? }" do %>
          <input type="text" name="tag_name" value="<%= itag.tag.name %>" class="tag-input-field">
          <%= button_tag title: "Approve", value: "approve", class:"button-primary approve" do %>
            <%= inline_svg "icons/approve" %> <span class="vh">Approve</span>
          <% end %>
          <%= button_tag title: "Reject", value: "reject", class:"button-primary reject" do %>
            <%= inline_svg "icons/reject" %> <span class="vh">Reject</span>
          <% end %>
          <% if itag.disputed? %>
            <div class="tag-confirm-form--dispute">
              <%= inline_svg "icons/dispute" %> <b>Disputed</b><%= ": #{itag.dispute_note}" if itag.dispute_note.present? %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @content_tags.present? && @content_tags.current_page.to_i == 1 %>
  <%= link_to "Reload Tags", admin_dashboard_path, class:"button-primary" %>
<% end %>

<%= will_paginate @content_tags %>