<%= content_for :head do %>
  <script src="https://www.google.com/recaptcha/api.js"></script>
<% end %>

<div class="illustration-detail">
  <h1><%= @illustration.name %></h1>
  <%= render "tabs", taggable: @illustration %>
  <%= render "shared/illustration", illustration: @illustration, link_uri: @illustration.scryfall_uri, size: :large %>
  <%= render "tags", taggable: @illustration %>
</div>

<%= render "submit", taggable: @illustration, submit_path: submit_illustration_tags_path(@illustration) %>