<%= content_for :head do %>
  <script src="https://www.google.com/recaptcha/api.js"></script>
<% end %>

<div class="illustration-detail">
  <h1><%= @oracle_card.name %></h1>
  <%= render "tabs", taggable: @oracle_card %>
  <%= image_tag @illustration.image_normal_uri, alt: @oracle_card.name, class:"oracle-card" %>
  <%= render "tags", taggable: @oracle_card %>
</div>

<%= render "submit", taggable: @oracle_card, submit_path: submit_oracle_card_tags_path(@oracle_card.id) %>