<%= content_for :head do %>
  <script src="https://www.google.com/recaptcha/api.js"></script>
<% end %>

<h1 class="illustration-detail--header"><%= @illustration.name %></h1>
<div class="illustration-detail" id="illustration-detail">
  <div class="illustration-detail__card">
    <%= link_to @illustration.scryfall_uri do %>
      <%= image_tag @illustration.image_large_uri, alt: @illustration.name, class:"card" %>
    <% end %>
  </div>
  <div class="illustration-detail__main">
    <%= render "shared/illustration", illustration: @illustration, link_uri: @illustration.scryfall_uri, size: :large %>

    <div class="illustration-tagset">
      <h2 class="small-header">Artwork Tags</h2> <em>&mdash; describes the illustration</em>
      <%= render "tags", type: "artwork", taggable: @illustration, content_tags: @illustration.illustration_tags %>
    </div>

    <div class="illustration-tagset">
      <h2 class="small-header">Card Tags</h2> <em>&mdash; describes the card (applies to all card editions)</em>
      <%= render "tags", type: "card", taggable: @illustration, content_tags: @illustration.oracle_tags %>
    </div>

    <%= form_tag submit_tags_path(@illustration), method: "post", id: "tag-submit-form", class:"tag-submit-form", "data-component":"autocomplete-form" do %>
      <svg style="display:none;position:absolute;">
        <%= inline_svg_symbol("icons/tag", id: "icon-tag") %>
        <%= inline_svg_symbol("icons/link", id: "icon-link") %>
      </svg>

      <h2>Add Tags</h2>
      <%= render "tag_row", index: 0 %>
      <%= render "tag_row", index: 1 %>

      <h2>Add Related Cards</h2>
      <%= render "related_row", index: 0 %>
      <%= render "related_row", index: 1 %>

      <div class="tag-form-row tag-submit-form__tag">
        <div class="g-recaptcha" data-sitekey="<%= ENV.fetch("GOOGLE_CAPTCHA_SITE_KEY") %>"></div>
        <p><label><%= check_box :tag_submission, :accept_terms %> I agree to the <%= link_to "terms of service", tos_path %></label></p>
        <%= button_tag "Propose these tags", class:"button-primary" %>
      </div>
    <% end %>
  </div>
</div>