<!DOCTYPE html>
<html>
  <head>
    <title>StillLife</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>

  <body>
    <div class="site-header">
      <%= link_to home_path do %>
        <%= inline_svg "icons/search" %> Search
      <% end %>
      <%= link_to guide_path do %>
        <%= inline_svg "icons/guide" %> Tagging Guide
      <% end %>
      <%= link_to random_illustration_path do %>
        <%= inline_svg "icons/tag" %> Tag at Random
      <% end %>
    </div>
    <% if flash[:notice].present? %>
      <div class="site-notice"><%= flash[:notice] %></div>
    <% end %>
    <div class="site-body">
      <%= yield %>
    </div>
    <div class="site-footer">
      <p>The literal and graphical information presented on this site about Magic: The Gathering, including card images, the mana symbols, and Oracle text, is copyright Wizards of the Coast, LLC, a subsidiary of Hasbro, Inc. This website is not produced by, endorsed by, supported by, or affiliated with Wizards of the Coast.</p>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
