<!DOCTYPE html>
<html>
  <head>
    <title>The Menagerie, a crowdsourced tag catalog for Magic: The Gathering illustrations</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head %>
  </head>
  <body class="<%= yield :body_class %>">
    <%= render "shared/site_header" %>
    <% if flash[:notice].present? %>
      <div class="site-notice"><%= flash[:notice] %></div>
    <% end %>
    <div class="site-body">
      <%= yield %>
    </div>
    <%= render "shared/site_footer" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
